* {
    border: none;
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    font-weight: normal;
    min-height: 0;
}

window#waybar {
    background: #15081A;
    color: #E2C0FC;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: #9D78BB;
    border-radius: 4px;
    margin: 4px 2px;
}

#workspaces button:hover {
    background: rgba(226, 192, 252, 0.2);
}

#workspaces button.active {
    background: #9D78BB;
    color: #15081A;
    border-radius: 4px;
}

#workspaces button.urgent {
    background-color: #FFB3CF;
    color: #15081A;
}

#clock,
#battery,
#network,
#pulseaudio,
#custom-power,
#tray,
#custom-spotify {
    padding: 0 10px;
    margin: 4px 2px;
    border-radius: 4px;
    background-color: #2F1B45;
    color: #E2C0FC;
}

#custom-spotify {
    background: linear-gradient(45deg, #442460, #5f2b8c);
    border-radius: 4px;
    padding: 0 12px;
}

#battery.charging, #battery.plugged {
    background-color: #442460;
    color: #C3FFC1;
}

#battery.critical:not(.charging) {
    background-color: #FFB3CF;
    color: #15081A;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    background-color: #442460;
    font-weight: bold;
}

#custom-power {
    background-color: #532966;
    color: #FFD6E5;
}

@keyframes blink {
    to {
        background-color: #15081A;
        color: #FFB3CF;
    }
}